<section id="articles-grid" class="articles-grid">
    <div class="container">
        <div class="articles-grid__list">
            <% articles.forEach(article=> { %>
                <div class="article-card">
                    <img src="<%= article.image %>" alt="<%= article.title %>" class="article-card__image">
                    <div class="article-card__content">
                        <h3 class="article-card__title">
                            <%= article.title %>
                        </h3>
                        <p class="article-card__description">
                            <%= article.description %>
                        </p>
                        <div class="article-card__meta">
                            <span class="article-card__date">
                                <%= article.date %>
                            </span>
                            <span class="article-card__tags">
                                <%= article.tags %>
                            </span>
                        </div>
                        <a href="<%= article.link %>" class="btn btn--orange">Читать далее</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>