<section id="mini-catalog" class="mini-catalog">
    <div class="container">
        <h2 class="section-title">Мини-каталог</h2>
        <div class="mini-catalog__grid">
            <% regularProducts.forEach(product=> { %>
                <div class="catalog-card">
                    <div class="catalog-card__image">
                        <img src="<%= product.image %>" alt="<%= product.title %>" class="catalog-card__img">
                    </div>
                    <div class="catalog-card__content">
                        <h3 class="catalog-card__title">
                            <%= product.title %>
                        </h3>
                        <p class="catalog-card__description">
                            <%= product.description %>
                        </p>
                        <p class="catalog-card__price highlight-price">
                            <%= product.price %>
                        </p>
                        <button class="btn btn--orange" onclick="openBuyModal()">Купить сейчас</button>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
</section>